
/* colors
black #3B3B3B

*/
/* Global *//* Global *//* Global *//* Global *//* Global *//* Global */
* {
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Lobster', cursive;
    color: #3B3B3B
}

p {
    font-family: 'Economica', sans-serif;
    font-size: 150%;
}

html,body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Abril Fatface', cursive;
    background-color: #f8f9fa;
}

section {
    padding: 2%;
}

.blackSeparator {
    width: 20%;
    background-color: black;
    padding: 1px;
    margin-top: 6%
}

hr {
    width: 20%;
    background-color: #fff;
    padding: 1px;
}
/* Global *//* Global *//* Global *//* Global *//* Global *//* Global *//* Global *//* Global */

/* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */

nav {
    padding: 0% !important;
    font-size: 100%;
}

nav button {
    margin: 0 1%;
}

#title {
    font-size: 200%;
    padding: 2%;
}

nav a {
    padding: 7%;
    font-size: 150%;
}

.navbar-brand:hover {
    color: #f1f1f1;

}

.navbar a:hover {
    color: #f8f9fa !important;
    /* text-shadow: 0px 1px 2px black, 1px 1px 1px black; */
    background-color: #3b8686;
}

.nav-item {
height: 100%
}

/* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav *//* nav */

/* about me *//* about me *//* about me *//* about me *//* about me *//* about me *//* about me */
#aboutMe{
    text-align: center;
    padding: 4%;
    background-color: #3b8686;
    /* background-image: url("portrait.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh; */
    /* background-position: 50%; */
    text-shadow: 0px 1px 2px black, 1px 1px 1px black;
    display: flex;
    }
#aboutMe h2,#aboutMe p {
    color: #f1f1f1;
    }
#aboutMe h2{
    padding: 2%;
    font-size: 7vh;
    }
#aboutMe p {
    position: relative;
    font-size: 4vh;
    }
#aboutMe img {
    width: 100%;
    padding: 2%;
    box-shadow: 3px 3px 10px black;
    height: 100%;
}

#infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portrait {
    display: flex;
}

@media screen and (min-width: 570px) and (max-width: 1300px) and (min-height:900px ) and (max-height:1500px ) {
    
    .portrait {
        display: none;
    }
  }


    
/* about me *//* about me *//* about me *//* about me *//* about me *//* about me *//* about me */

#outilsTitle {
    background-color: #f8f9fa;
    /* color: #f8f9fa; */
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
    padding: 1%;
}

#outilsTitle h1 {
    font-size: 300%;
}



#outils{
    background-color: #f8f9fa;
    /* color: #f8f9fa; */
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
    padding: 2% 4%;
}

#outils h3 , #outilsTitle{
    font-size: 6vh;
    text-align: center;
    
}

#outils p , #outilsTitle{
    /* color: #f8f9fa; */
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
    font-size: 150%;
}
#outils h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 150%;
}

#outils h3 {
    border-left: 6px solid #3b8686;
    background-color: lightgrey;
    font-size: 250%;
}

#outils h3:hover {
    cursor: pointer;
}


/* Formation *//* Formation *//* Formation *//* Formation *//* Formation *//* Formation */
#formation {
    padding: 2% 4%;
    /* text-shadow: 0px 1px 0px black, 1px 1px 0px black; */
    font-size: 7vh;
    background-color: #f8f9fa;
}

#formation a{
    color: #3b8686;
    text-decoration: underline;
    font-family: 'Sawarabi Mincho', sans-serif;

}

#formation h2{
    padding: 3% 0;
    /* text-shadow: 0px 1px 0px black, 1px 1px 0px black; */
    font-size: 6vh;
    text-align: center;
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
}

#formation h5, #formation h3 {
    /* text-shadow: 0px 1px 0px black, 1px 1px 0px black; */
    font-size: 4vh;
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
    padding: 1%;
    font-family: 'Sawarabi Mincho', sans-serif;
}
#formation p{
    /* text-shadow: 0px 1px 0px black, 1px 1px 0px black; */
    font-size: 2.5vh;
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
    font-size: 40%;
    padding: 0 1%;
}
/* Formation *//* Formation *//* Formation *//* Formation *//* Formation *//* Formation */

/* experience *//* experience *//* experience *//* experience *//* experience *//* experience */

#exp {
    color: #f8f9fa;
    /* text-shadow: 0px 1px 2px black, 1px 1px 1px black; */
    background-color: #3b8686;
    padding: 2% 4%;
}

#exp h2 {
    text-align: center;
    padding: 2%;
    font-size: 350%;
}

#exp h5 {
    font-size: 200%;
}

#exp h3 {
    font-size: 270%;
}

#exp p {
    color: #f8f9fa;
}

/* experience *//* experience *//* experience *//* experience *//* experience *//* experience */

/* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio */
#portfolio {
    background-color: #f8f9fa;
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
}

#portfolio h2 {
    padding: 5%;
    font-size: 10vh;
    text-shadow: 0px 1px 0px black, 1px 1px 0px black;
}

#portfolio img {
    /* height: 30vh; */
}
.cards {
    padding: 2%;
}

.cards h5 {
    font-size: 170%;
}

.cards p {
    font-size: 130%;
}

.cardsBody {
    box-shadow: 1px 1px 5px black;
    /* width: 100%; */
}

.tag  {
    color: #3b8686;
    text-decoration: underline;
}

/* .buttonLink1 {
    position: relative;
    bottom: 2%;
    left: 30%
}
.buttonLink2 {
    position: relative;
    bottom: 2%;
    left: 39%
} */
/* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio *//* Portfolio */